@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

body {
    padding: 0;
    margin: 0;
    height: auto;
    background-color: black;
}
.section1 {
    text-align: center;
    font-size-adjust: auto;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    background: url(./assets/backgrounds/h_img.jpg);
    background-size: cover;
    height: 680px;
    padding: 2rem;
}
.logo {
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 100px;
}
.logo2 {
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 100px;
}
.section2 {
    background: whitesmoke;
    height: 300px;
    text-align: center;
    font-size-adjust: auto;
    font-family: 'Fira Sans', sans-serif;
}
h1 {
    color: white;
    text-align: center;
    text-emphasis: bold;
}
.section3 {
    height: 300px;
    background: url(./assets/backgrounds/s_image.jpg);
    color: white;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    text-emphasis: bold;
}
h3 {
    text-emphasis: bold;
}

.fun{
    width: 100%;
    margin-bottom: 0rem;
    
}
.gif{
    max-width: 100%;
}

.section4 {
    background: whitesmoke;
    height: auto;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}
h4 {
    color: #000;
    text-align: center;
    text-emphasis: bold;
}
.section5 {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}
.img-fluid {
    padding-bottom: 1rem;
}
.section6 {
    font-family: 'Fira Sans', sans-serif;
    background: url(./assets/backgrounds/c_image.jpg);
    color: white;
    font-weight: 400;
}
#shown-design {
    display: none;
}
#shown-development {
    display: none;
}
#shown-product {
    display: none;
}
input[type=text],input[type=email],textarea[name=message] {
    background-color: transparent;
    font-weight: 600;
}
.section7 {
    padding-left: 20%;
}
.work-img {
    position: relative;
}
#g1,#g2,#g3,#g4,#g5,#g6,#g7,#g8 {
    position: absolute;
    top: 0%;
    background-color: rgba(255,255,255,0.6);
    width: 100%;
    height: 100%;
    padding: 70px 0;
    display: none;
}
.section8 {
    text-align: center;
    color: black;
    font-family: 'Fira Sans', sans-serif;
    background-color: whitesmoke;
}

