/*----google favorite font of choice----*/
@import url(https://fonts.google.com/specimen/Charm?sidebar.open&selection.family=Charm:wght@700);




.contact{
    text-align: center;
}
.fun{
    width: 100%;
    margin-bottom: 2rem;
}
.gif{
    max-width: 100%;
}
.form {
    background-image: url("/img/backgrounds/c_image.jpg");
    background-image: image("/img");
}

.social a{
    font-size: 3em;
    padding: 1rem;
}
.col-12 social padding:hover,{
    color: #0453fgr;
}
.footer {
    background-color: #f5f3f3;
    color: #222121;
    padding-top: .3rem;
    text-align: center;
}







        